.main-button {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-color: unset;
  border-width: unset;
  border-style: unset;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.main-button-radius {
  @extend .main-button;
  border-radius: 7px;
}