.main-button {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-color: unset;
  border-width: unset;
  border-style: unset;
  cursor: pointer;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.main-button-radius {
  @extend .main-button;
  border-radius: 7px;
}

.investment-button {
  @extend .main-button-radius;
  background-color: #9D9D9D;
  padding: 10px;
  width: 240px;
  p {
    color: white;
  }
  &:hover {
    background-color: $true-blue;
    text-decoration: none;
    color: white;
  }
}