$electric-blue: #3E0CEF;
$true-blue: #0068DC;
$gray-1: #979797;
$gray-2: #CACACA;
$turquoise-fins: #33FDCF;
$aqua-fins: #00FDFF;

.bg-electric-blue {
  background-color: $electric-blue;
}

.bg-true-blue {
  background-color: $true-blue;
}

.bg-gray-1 {
  background-color: $gray-1;
}