<div class="main-container">
  <div class="main-table mt-5" style="width: 90%">
    <table mdbTable>
      <thead>
        <tr>
          <th scope="col">Banco</th>
          <th scope="col">Cuenta</th>
          <th scope="col">CCI</th>
          <th scope="col">Moneda</th>
          <th scope="col">Fecha de Registro</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of bankAccounts">
          <td class="light">{{el.bank}}</td>
          <td class="light">{{el.account}}</td>
          <td class="light">{{el.cci}}</td>
          <td class="light">{{el.currency}}</td>
          <td class="light">{{el.date}}</td>
          <td class="light"><span class="icon-edit"></span></td>
          <td class="light"><span class="icon-garbage"></span></td>
        </tr>
        <tr [ngClass]="{'hideTable': !show}">
          <td>
            <select id="inputState" class="form-control" id="newAttributeName" [(ngModel)]="newAttribute.bank" name="newAttributeName">
              <option selected>BBVA Dólares</option>
              <option>BCP Dólares</option>
              <option>IBK Dólares</option>
            </select>
          </td>
          <td>
              <input class="form-control" placeholder="N de Cuenta" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.account" name="newAttributeCode" />
          </td>
          <td>
              <input class="form-control" placeholder="N de CCi" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.cci" name="newAttributePrice" />
          </td>
          <td>
            <select id="inputState" class="form-control" id="newAttributeName" [(ngModel)]="newAttribute.currency" name="newAttributeCurrency">
              <option selected>USD</option>
              <option>PEN</option>
            </select>
          </td>
          <td>
            <button class="bg-electric-blue main-button-radius" type="button" (click)="addFieldValue()">Guardar</button> 
          </td>
          <td>
              <span (click)="hideAdd()" class="icon-cancel close-tab"></span>
          </td>
          <td>
          
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-5">
    <figure class="text-center mb-4" style="width: 30px" (click)="showAdd()">
      <img src="./assets/img/plus.svg" alt="logo" class="img-fluid logo">
    </figure>
  </div>

</div>
<div class="main-container-mobile bank-accounts-mobile" >
 <div>
  <div class='mt-3'> 
    <p class="title d-inline mb-0">Cuentas bancarias</p>
  </div>
   <ngb-carousel [showNavigationArrows]="showNavigationArrows" class="carousel-content carousel-bottom"
     [showNavigationIndicators]="showNavigationIndicators" >
     <ng-template ngbSlide *ngFor="let item of bankAccounts">
       <div class="carousel-caption">
         <div class="d-flex justify-content-around first-part">
            <p>Banco</p> <p>{{item.bank}}</p>
         </div>
         <hr class='mx-4 mt-0 mb-4'>
         <div class="d-flex justify-content-around second-part">
            <div>
              <p>Moneda</p>
              <p>{{item.currency}}</p>
            </div>
            <div>
              <p>Fecha de registro</p>
              <p>{{item.date}}</p>
            </div>
         </div>
         <hr class='mx-5 mt-0'>
         <div class="d-flex justify-content-around second-part pt-2">
            <div>
              <p>Cuenta</p>
              <p>{{item.account}}</p>
            </div>
         </div>
         <hr class='mx-5 mt-0'>
         <div class="d-flex justify-content-around second-part pt-2">
            <div>
              <p>CCI</p>
              <p>{{item.cci}}</p>
            </div>
         </div>
         <div class="d-flex justify-content-center second-part pt-2">
            <span class='icon-edit'></span>
            <span class='icon-garbage'></span>
         </div>
       </div>
     </ng-template>
   </ngb-carousel>
   <div _ngcontent-c4="" class="mt-2 d-flex justify-content-center">
      <!-- <figure _ngcontent-c4="" style="width: 26px">
        <img _ngcontent-c4="" alt="logo" class="img-fluid logo" src="./assets/img/plus.svg">
      </figure> -->
      <span class='icon-plus'></span>
    </div>
 </div>
</div>