<div class="main-container">
  <div class="d-flex">
    <button type="submit" class="bg-true-blue main-button-radius">Agregar cuenta</button>
  </div>
  <div class="main-table">
    <table mdbTable>
      <thead>
        <tr>
          <th scope="col">Banco</th>
          <th scope="col">Cuenta</th>
          <th scope="col">CCI</th>
          <th scope="col">Moneda</th>
          <th scope="col">Fecha de Registro</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of bankAccounts">
          <td class="light">{{el.bank}}</td>
          <td class="light">{{el.ammount}}</td>
          <td class="light">{{el.cci}}</td>
          <td class="light">{{el.currency}}</td>
          <td class="light">{{el.date}}</td>
          <td class="light"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-5">
    <figure class="text-center mb-4" style="width: 30px">
      <img src="./assets/img/plus.svg" alt="logo" class="img-fluid logo">
    </figure>
  </div>

</div>