<div class="main-container">
  <div class="d-flex oportunitie-box">
    <div class="single-box">
      <p>
        Disponible para invertir
      </p>
      <p class="bold">{{singleBenefits.ammount}}</p>
    </div>
    <div class="single-box">
      <p>TEA promedio</p>
      <p class="bold">{{singleBenefits.tea}}</p>
    </div>
    <div class="single-box">
      <p><span class="bold">{{singleBenefits.days}} días </span>de duración promedio de retorno de la
        inversión</p>
    </div>
  </div>
  <div class="main-table oportunitie-table w-90">
    <table mdbTable>
      <thead>
        <tr>
          <th scope="col">Pagador</th>
          <th scope="col">Monto Total</th>
          <th scope="col-2">Monto Disponible</th>
          <th scope="col">TEA</th>
          <th scope="col">ROI (monto)</th>
          <th scope="col">Fecha de cobro (días)</th>
        </tr>
      </thead>
      <tbody *ngFor="let el of oportunities">

          <td colspan="12" style="padding: 0 !important">
            <mat-expansion-panel scope="col-12">
    
              <mat-expansion-panel-header>
                <tr class="box-wrapped" (click)="showRow(el)"
                  [ngClass]="{'no-border': selectedRow && selectedRow.name === el.name}">
                  <td class="light">{{el.name}}</td>
                  <td class="light">{{el.ammount}}</td>
                  <td class="light">{{el.availableAmmount}}</td>
                  <td class="light">{{el.tea}}</td>
                  <td>
                    <p class="light mb-0">{{el.roi}}</p>
                    <p class="light">{{el.roiAmmount}}</p>
                  </td>
                  <td>
                    <p class="light mb-0">{{el.date}}</p>
                    <p class="light">en {{el.days}} dias</p>
                  </td>
                </tr>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <tr style="width: 100%" mdbTableCol class="expanded-row">
                <td colspan="6" class="pb-5">
                  <div class="d-flex align-items-center flex-column">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex w-50 flex-column">
                        <p class="light expanded-p">{{el.child.text}}</p>
                        <p>{{el.child.mainText}}</p>
                      </div>
                      <div class="invert-box">
                        <div class="d-flex">
                          <p class="light invert">
                            Quiero invertir:
                            <span>(usar decimales)</span>
                          </p>
                          <input placeholder="Monto" />
                        </div>
                        <p class="italic">{{el.child.ammount}}</p>
                        <h4 class="light text-right mt-1 mb-0">ROI: <span class="regular">{{el.child.roi}}</span></h4>
                        <p class="text-right light fs-14">en {{el.child.days}} dias</p>
                      </div>
                    </div>
                    <div class="checkbox-wrapper my-3">
                      <input type="checkbox" />
                      <a href="" class="ml-1 light fs-14">Estoy de acuerdo con los términos y condiciones</a>
                    </div>
                    <button type="submit" class="bg-electric-blue main-button-radius"
                      (click)="open()">Invertir</button>
                  </div>
                </td>
              </tr>
              </ng-template>
            </mat-expansion-panel>
          </td>
        
      </tbody>
    </table>
  </div>
</div>
<div class="main-container-mobile" >
 <ngb-carousel [showNavigationArrows]="showNavigationArrows" class="carousel-content carousel-top"
   [showNavigationIndicators]="showNavigationIndicators" >
   <ng-template ngbSlide>
     <div class="carousel-caption">
       <p>Oportunidades para invertir</p>
       <p>S/ 45,452.32</p>
     </div>
   </ng-template>
   <ng-template ngbSlide>
     <div class="carousel-caption">
       <p>TEA promedio</p>
       <p>25.4 %</p>
     </div>
   </ng-template>
   <ng-template ngbSlide>
     <div class="carousel-caption">
       <p class="px-5"><span>35 días</span> de duración promedio de retorno sobre la 
      inversión</p>
     </div>
   </ng-template>
 </ngb-carousel>
 <div>
   <p class="title">Oportunidades</p>
   <ngb-carousel [showNavigationArrows]="showNavigationArrows" class="carousel-content carousel-bottom"
     [showNavigationIndicators]="showNavigationIndicators" >
     <ng-template ngbSlide *ngFor="let item of oportunities">
       <div class="carousel-caption">
         <div class="d-flex justify-content-around first-part">
            <p>Pagador</p> <p>{{item.name}}</p>
         </div>
         <hr class='mx-4 mt-0 mb-4'>
         <div class="d-flex justify-content-around second-part pt-2">
            <div>
              <p>Monto total</p>
              <p>{{item.ammount}}</p>
            </div>
            <div>
              <p>Monto disponible</p>
              <p>{{item.availableAmmount}}</p>
            </div>
         </div>
         <hr class='mx-5 mt-0'>
         <div class="d-flex justify-content-around third-part mr-4 ml-3">
            <div>
              <p>TEA</p>
              <p>{{item.tea}}</p>
            </div>
            <hr class='mx-2'>
            <div>
              <p class='mx-2'>ROI (monto)</p>
              <p class='mb-0'>{{item.roi}}</p>
              <p>{{item.roiAmmount}}</p>
            </div>
            <hr class='mx-2'>
            <div>
                <p class='mx-2'>Fecha de cobro (días)</p>
                <p class='mb-0'>{{item.date}}</p>
                <p>({{item.days}}) días</p>
            </div>
         </div>
         
       </div>
     </ng-template>
   </ngb-carousel>
 </div>
</div>
