<div class="main-container">
  <div class="d-flex oportunitie-box">
    <div class="single-box">
      <p>
        Disponible para invertir
      </p>
      <p class="bold">{{singleBenefits.ammount}}</p>
    </div>
    <div class="single-box">
      <p>TEA promedio</p>
      <p class="bold">{{singleBenefits.tea}}</p>
    </div>
    <div class="single-box">
      <p><span class="bold">{{singleBenefits.days}} días </span>de duración promedio de retorno de la
        inversión</p>
    </div>
  </div>

  <div class="main-table oportunitie-table w-90">
    <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8">
      <ng-container matColumnDef="{{ column.slug }}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{ column.label }} </th>
        <td mat-cell *matCellDef="let element" class="light">
          <div class="py-4" *ngIf="column.slug === 'roi'">
            {{ element[column.slug] }}
            <p class="mb-0">{{ element.roiAmmount }}</p>
          </div>
          <div class="py-4" *ngIf="column.slug === 'date'">
            {{ element[column.slug] }}
            <p class="mb-0">En {{ element.days }} días</p>
          </div>
          <div class="py-4" *ngIf="column.slug !== 'roi' && column.slug !== 'date'">
            {{ element[column.slug] }}
        </div>
        </td>
      </ng-container>
  
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail py-5"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="d-flex align-items-center flex-column">
                <div class="d-flex justify-content-between">
                  <div class="d-flex w-50 flex-column">
                    <p class="light expanded-p">{{element.child.text}}</p>
                    <p>{{element.child.mainText}}</p>
                  </div>
                  <div class="invert-box">
                    <div class="d-flex align-items-center mb-2">
                      <p class="light invert pr-2 mb-0">
                        Quiero invertir:
                        <span>(usar decimales)</span>
                      </p>
                      <input placeholder="Monto" />
                    </div>
                    <p class="italic">{{element.child.ammount}}</p>
                    <h4 class="light text-right mt-1 mb-0">ROI: <span class="regular">{{element.child.roi}}</span></h4>
                    <p class="text-right light fs-14">en {{element.child.days}} dias</p>
                  </div>
                </div>
                <div class="checkbox-wrapper my-3">
                  <input type="checkbox" />
                  <a href="" class="ml-1 light fs-14">Estoy de acuerdo con los términos y condiciones</a>
                </div>
                <button type="submit" class="bg-electric-blue main-button-radius"
                  (click)="open()">Invertir</button>
              </div>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="stringColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: stringColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>


<div class="main-container-mobile" >
 <ngb-carousel [showNavigationArrows]="showNavigationArrows" class="carousel-content carousel-top"
   [showNavigationIndicators]="showNavigationIndicators" >
   <ng-template ngbSlide>
     <div class="carousel-caption">
       <p>Oportunidades para invertir</p>
       <p>S/ 45,452.32</p>
     </div>
   </ng-template>
   <ng-template ngbSlide>
     <div class="carousel-caption">
       <p>TEA promedio</p>
       <p>25.4 %</p>
     </div>
   </ng-template>
   <ng-template ngbSlide>
     <div class="carousel-caption">
       <p class="px-5"><span>35 días</span> de duración promedio de retorno sobre la 
      inversión</p>
     </div>
   </ng-template>
 </ngb-carousel>
 <div>
   <p class="title">Oportunidades</p>
   <ngb-carousel [showNavigationArrows]="showNavigationArrows" class="carousel-content carousel-bottom"
     [showNavigationIndicators]="showNavigationIndicators" >
     <ng-template ngbSlide *ngFor="let item of oportunities">
       <div class="carousel-caption">
         <div class="d-flex justify-content-around first-part">
            <p>Pagador</p> <p>{{item.name}}</p>
         </div>
         <hr class='mx-4 mt-0 mb-4'>
         <div class="d-flex justify-content-around second-part pt-2">
            <div>
              <p>Monto total</p>
              <p>{{item.ammount}}</p>
            </div>
            <div>
              <p>Monto disponible</p>
              <p>{{item.availableAmmount}}</p>
            </div>
         </div>
         <hr class='mx-5 mt-0'>
         <div class="d-flex justify-content-around third-part mr-4 ml-3">
            <div>
              <p>TEA</p>
              <p>{{item.tea}}</p>
            </div>
            <hr class='mx-2'>
            <div>
              <p class='mx-2'>ROI (monto)</p>
              <p class='mb-0'>{{item.roi}}</p>
              <p>{{item.roiAmmount}}</p>
            </div>
            <hr class='mx-2'>
            <div>
                <p class='mx-2'>Fecha de cobro (días)</p>
                <p class='mb-0'>{{item.date}}</p>
                <p>({{item.days}}) días</p>
            </div>
         </div>
         
       </div>
     </ng-template>
   </ngb-carousel>
 </div>
</div>
