<div class="main-container">
  <div class="d-flex w-90">
    <div class="investment-box" *ngFor="let el of investmens">
      <p class="light fs-14">{{el.text}}</p>
      <div class="single-box">
        <p class="mb-1">{{el.ammount}}</p>
        <p class="mb-0">{{el.secondAmmount}}</p>
      </div>
    </div>
  </div>
  <div class="d-flex w-90 mt-5 justify-content-around">
    <ul class="nav nav-tabs" id="button" role="tablist">
      <li class="" *ngFor="let b of buttons">
        <a class={{b.class}} id={{b.id}} data-toggle="tab" href={{b.href}} role="tab" attr.aria-controls={{b.name}} aria-selected="true">{{b.text}}</a>
      </li>
    </ul>
  </div>
  <div class="main-table w-90 tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="actual" role="tabpanel" aria-labelledby="actual-tab">
        <table mdbTable>
            <thead>
              <tr>
                <th scope="col">Pagador</th>
                <th scope="col">Monto Total</th>
                <th scope="col-2">Monto Disponible</th>
                <th scope="col">TEA</th>
                <th scope="col">ROI (monto)</th>
                <th scope="col">Fecha de cobro (días)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="box-wrapped" mdbTableCol *ngFor="let el of oportunities">
                <td class="light">{{el.name}}</td>
                <td class="light">{{el.ammount}}</td>
                <td class="light">{{el.availableAmmount}}</td>
                <td class="light">{{el.tea}}</td>
                <td>
                  <p class="light mb-0">{{el.roi}}</p>
                  <p class="light mb-0">{{el.roiAmmount}}</p>
                </td>
                <td>
                  <p class="light mb-0">{{el.date}}</p>
                  <p class="light mb-0">en {{el.days}} dias</p>
                </td>
              </tr>
            </tbody>
            
          </table>
    </div>
    <div class="tab-pane fade show" id="inver" role="tabpanel" aria-labelledby="inver-tab">
        <table mdbTable>
            <thead>
              <tr>
                <th scope="col">Pagador</th>
                <th scope="col">Monto Total</th>
                <th scope="col-2">Monto Disponible</th>
                <th scope="col">TEA</th>
                <th scope="col">ROI (monto)</th>
                <th scope="col">Fecha de cobro (días)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="box-wrapped" mdbTableCol *ngFor="let el of oportunities2">
                <td class="light">{{el.name}}</td>
                <td class="light">{{el.ammount}}</td>
                <td class="light">{{el.availableAmmount}}</td>
                <td class="light">{{el.tea}}</td>
                <td>
                  <p class="light mb-0">{{el.roi}}</p>
                  <p class="light mb-0">{{el.roiAmmount}}</p>
                </td>
                <td>
                  <p class="light mb-0">{{el.date}}</p>
                  <p class="light mb-0">en {{el.days}} dias</p>
                </td>
              </tr>
            </tbody>
            
          </table>
    </div>
    <div class="tab-pane fade show" id="transf" role="tabpanel" aria-labelledby="transf-tab">
        <table mdbTable>
            <thead>
              <tr>
                <th scope="col">Banco</th>
                <th scope="col">Número de Cuenta</th>
                <th scope="col-2">Divisa</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha de Transferencia</th>
                <th scope="col">Estado</th>
                <th scope="col">Tipo</th>
              </tr>
            </thead>
            <tbody>
              <tr class="box-wrapped" mdbTableCol *ngFor="let el of oportunities3">
                <td class="light">{{el.bank}}</td>
                <td class="light">{{el.accountNumber}}</td>
                <td class="light">{{el.badge}}</td>
                <td class="light">{{el.amount}}</td>
                <td class="light">{{el.transferDate}}</td>
                <td class="light">{{el.state}}</td>
                <td class="light">{{el.tipe}}</td>
              </tr>
            </tbody>
            
          </table>
    </div>
    
  </div>
</div>
<div class="main-container-mobile" >
 <ngb-carousel [showNavigationArrows]="showNavigationArrows" class="carousel-content carousel-top"
   [showNavigationIndicators]="showNavigationIndicators" >
   <ng-template ngbSlide *ngFor="let item of investmens">
     <div class="carousel-caption">
       <p>{{item.text}}</p>
       <p>{{item.ammount}}</p>
     </div>
   </ng-template>
 </ngb-carousel>
 <div>
  <div class='d-flex align-items-center justify-content-between select-content'>
      <span class='icon-down-arrow'></span>
      <select class=" select-investment" (change)="onChange($event.target.value)">
          <option selected value="1">Inversiones actuales</option>
          <option value="2">Historial de Inversión</option>
          <option value="3">Historial de Transferencias</option>
        </select>
    </div>
   
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" [ngClass]="{'show active': show === 1}" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <ngb-carousel [showNavigationArrows]="showNavigationArrows" class="carousel-content carousel-bottom"
     [showNavigationIndicators]="showNavigationIndicators" >
     <ng-template ngbSlide *ngFor="let item of oportunities">
       <div class="carousel-caption">
         <div class="d-flex justify-content-around first-part">
            <p>Pagador</p> <p>{{item.name}}</p>
         </div>
         <hr class='mx-4 mt-0 mb-4'>
         <div class="d-flex justify-content-around second-part pt-2">
            <div>
              <p>Monto total</p>
              <p>{{item.ammount}}</p>
            </div>
            <div>
              <p>Monto disponible</p>
              <p>{{item.availableAmmount}}</p>
            </div>
         </div>
         <hr class='mx-5 mt-0'>
         <div class="d-flex justify-content-around third-part mr-4 ml-3">
            <div>
              <p>TEA</p>
              <p>{{item.tea}}</p>
            </div>
            <hr class='mx-2'>
            <div>
              <p class='mx-2'>ROI (monto)</p>
              <p class='mb-0'>{{item.roi}}</p>
              <p>{{item.roiAmmount}}</p>
            </div>
            <hr class='mx-2'>
            <div>
                <p class='mx-2'>Fecha de cobro (días)</p>
                <p class='mb-0'>{{item.date}}</p>
                <p>({{item.days}}) días</p>
            </div>
         </div>
         
       </div>
     </ng-template>
   </ngb-carousel>
    </div>
    <div class="tab-pane fade" [ngClass]="{'show active': show === 2}" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <ngb-carousel [showNavigationArrows]="showNavigationArrows" class="carousel-content carousel-bottom"
     [showNavigationIndicators]="showNavigationIndicators" >
     <ng-template ngbSlide *ngFor="let item of oportunities2">
       <div class="carousel-caption">
         <div class="d-flex justify-content-around first-part">
            <p>Pagador2</p> <p>{{item.name}}</p>
         </div>
         <hr class='mx-4 mt-0 mb-4'>
         <div class="d-flex justify-content-around second-part pt-2">
            <div>
              <p>Monto total</p>
              <p>{{item.ammount}}</p>
            </div>
            <div>
              <p>Monto disponible</p>
              <p>{{item.availableAmmount}}</p>
            </div>
         </div>
         <hr class='mx-5 mt-0'>
         <div class="d-flex justify-content-around third-part mr-4 ml-3">
            <div>
              <p>TEA</p>
              <p>{{item.tea}}</p>
            </div>
            <hr class='mx-2'>
            <div>
              <p class='mx-2'>ROI (monto)</p>
              <p class='mb-0'>{{item.roi}}</p>
              <p>{{item.roiAmmount}}</p>
            </div>
            <hr class='mx-2'>
            <div>
                <p class='mx-2'>Fecha de cobro (días)</p>
                <p class='mb-0'>{{item.date}}</p>
                <p>({{item.days}}) días</p>
            </div>
         </div>
         
       </div>
     </ng-template>
   </ngb-carousel>
    </div>
    <div class="tab-pane fade" [ngClass]="{'show active': show === 3}" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <ngb-carousel [showNavigationArrows]="showNavigationArrows" class="carousel-content carousel-bottom"
     [showNavigationIndicators]="showNavigationIndicators" >
     <ng-template ngbSlide *ngFor="let item of oportunities3">
       <div class="carousel-caption">
         <div class="d-flex justify-content-around first-part">
            <p>Banco</p> <p>{{item.bank}}</p>
         </div>
         <hr class='mx-4 mt-0 mb-4'>
         <div class="d-flex justify-content-around first-part">
            <p>Número de cuenta</p> <p>{{item.accountNumber}}</p>
         </div>
         <hr class='mx-4 mt-0 mb-4'>
         <div class="d-flex justify-content-around second-part pt-2">
            <div>
                <p>Divisa</p>
                <p>{{item.badge}}</p>
            </div>
            <div>
              <p>Monto</p>
              <p>{{item.amount}}</p>
            </div>
         </div>
         <hr class='mx-5 mt-0'>
         <div class="d-flex justify-content-around third-part mr-4 ml-3">
            <div>
              <p>Fecha de Transferencia</p>
              <p>{{item.transferDate}}</p>
            </div>
            <hr class='mx-2'>
            <div>
              <p class='mx-2'>Estado</p>
              <p class='mb-0'>{{item.state}}</p>
            </div>
            <hr class='mx-2'>
            <div>
                <p class='mx-2'>Tipo</p>
                <p class='mb-0'>{{item.tipe}}</p>
            </div>
         </div>
         
       </div>
     </ng-template>
   </ngb-carousel>
    </div>
  </div>
 </div>
</div>