<div class="main-container">
  <div class="d-flex w-90">
    <div class="investment-box" *ngFor="let el of investmens">
      <p class="light fs-14">{{el.text}}</p>
      <div class="single-box">
        <p class="mb-1">{{el.ammount}}</p>
        <p class="mb-0">{{el.secondAmmount}}</p>
      </div>
    </div>
  </div>
  <div class="d-flex w-90 mt-5 justify-content-around">
    <ul class="nav nav-tabs" id="button" role="tablist">
      <li class="" *ngFor="let b of buttons">
        <a class={{b.class}} id={{b.id}} data-toggle="tab" href={{b.href}} role="tab" attr.aria-controls={{b.name}} aria-selected="true">{{b.text}}</a>
      </li>
    </ul>
  </div>
  <div class="main-table w-90 tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="actual" role="tabpanel" aria-labelledby="actual-tab">
        <table mdbTable>
            <thead>
              <tr>
                <th scope="col">Pagador</th>
                <th scope="col">Monto Total</th>
                <th scope="col-2">Monto Disponible</th>
                <th scope="col">TEA</th>
                <th scope="col">ROI (monto)</th>
                <th scope="col">Fecha de cobro (días)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="box-wrapped" mdbTableCol *ngFor="let el of oportunities">
                <td class="light">{{el.name}}</td>
                <td class="light">{{el.ammount}}</td>
                <td class="light">{{el.availableAmmount}}</td>
                <td class="light">{{el.tea}}</td>
                <td>
                  <p class="light mb-0">{{el.roi}}</p>
                  <p class="light mb-0">{{el.roiAmmount}}</p>
                </td>
                <td>
                  <p class="light mb-0">{{el.date}}</p>
                  <p class="light mb-0">en {{el.days}} dias</p>
                </td>
              </tr>
            </tbody>
            
          </table>
    </div>
    <div class="tab-pane fade show" id="inver" role="tabpanel" aria-labelledby="inver-tab">
        <table mdbTable>
            <thead>
              <tr>
                <th scope="col">Pagador</th>
                <th scope="col">Monto Total</th>
                <th scope="col-2">Monto Disponible</th>
                <th scope="col">TEA</th>
                <th scope="col">ROI (monto)</th>
                <th scope="col">Fecha de cobro (días)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="box-wrapped" mdbTableCol *ngFor="let el of oportunities2">
                <td class="light">{{el.name}}</td>
                <td class="light">{{el.ammount}}</td>
                <td class="light">{{el.availableAmmount}}</td>
                <td class="light">{{el.tea}}</td>
                <td>
                  <p class="light mb-0">{{el.roi}}</p>
                  <p class="light mb-0">{{el.roiAmmount}}</p>
                </td>
                <td>
                  <p class="light mb-0">{{el.date}}</p>
                  <p class="light mb-0">en {{el.days}} dias</p>
                </td>
              </tr>
            </tbody>
            
          </table>
    </div>
    <div class="tab-pane fade show" id="transf" role="tabpanel" aria-labelledby="transf-tab">
        <table mdbTable>
            <thead>
              <tr>
                <th scope="col">Pagador</th>
                <th scope="col">Monto Total</th>
                <th scope="col-2">Monto Disponible</th>
                <th scope="col">TEA</th>
                <th scope="col">ROI (monto)</th>
                <th scope="col">Fecha de cobro (días)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="box-wrapped" mdbTableCol *ngFor="let el of oportunities3">
                <td class="light">{{el.name}}</td>
                <td class="light">{{el.ammount}}</td>
                <td class="light">{{el.availableAmmount}}</td>
                <td class="light">{{el.tea}}</td>
                <td>
                  <p class="light mb-0">{{el.roi}}</p>
                  <p class="light mb-0">{{el.roiAmmount}}</p>
                </td>
                <td>
                  <p class="light mb-0">{{el.date}}</p>
                  <p class="light mb-0">en {{el.days}} dias</p>
                </td>
              </tr>
            </tbody>
            
          </table>
    </div>
    
  </div>
</div>