<nav class="bg-white main-sidebar">
  <a class="navbar-brand name-wrapper">
    <figure class="text-center mb-2" style="width: 100px">
      <img src="./assets/img/logo-clean.svg" alt="logo" class="img-fluid logo" width="250">
    </figure>
    <p class="mb-0">Bienvenido</p>
    <p class="mb-0">{{name}}</p>
  </a>
  <ul class="">
    <li class="title-sidebar d-flex align-items-end" routerLink="/oportunidades" routerLinkActive='activated'>
      <span class="icon-oportunidades"></span>
      <p class="mb-0 ml-2">Oportunidades</p>
    </li>
    <li class="title-sidebar d-flex align-items-end" routerLink="/inversiones" routerLinkActive='activated'>
      <span class="icon-invertir"></span>
      <p class="mb-0 ml-2">Mis inversiones</p>
    </li>
    <li class="title-sidebar d-flex align-items-end" routerLink="/cuentas-bancarias" routerLinkActive='activated'>
      <span class="icon-cuentas"></span>
      <p class="mb-0 ml-2">Cuentas bancarias</p>
    </li>
    <li class="title-sidebar d-flex align-items-end" routerLink="/depositar-dinero" routerLinkActive='activated'>
      <span class="icon-depositar"></span>
      <p class="mb-0 ml-2">Depositar o retirar</p>
    </li>
    <hr/>
    <li class="title-sidebar d-flex align-items-end" routerLink="/datos-personales" routerLinkActive='activated'>
      <span class="icon-usuario"></span>
      <p class="mb-0 ml-2">Mis datos personales</p>
    </li>
    <li class="title-sidebar d-flex align-items-end" routerLink="/login" routerLinkActive='activated'>
      <span class="icon-cerrar-sesion"></span>
      <p class="mb-0 ml-2">Cerrar sesión</p>
    </li>
  </ul>
</nav>